.s-category
  padding: 75px 0

.category-wrap
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 18px
  margin-bottom: 45px

.category-item
  background-color: #fff
  box-shadow: 0 0 20px rgba(#000, .1)
  padding: 24px 24px 28px
  display: flex
  flex-direction: column
  justify-content: space-between
  &-img
    height: 130px
    margin-bottom: 30px
    img
      width: 100%
      height: 100%
      object-fit: contain
  &-title
    line-height: 1.25
    font-size: 18px
    text-transform: uppercase
    font-weight: 800
    padding: 14px 0 10px
    border-top: 1px solid #afb9c9
    border-bottom: 1px solid #afb9c9
    margin-bottom: 15px
  &-chars
    margin-bottom: 35px
  &-char
    display: flex
    justify-content: space-between
    margin-bottom: 8px
    line-height: 1.1
    .val
      width: 80px
      text-align: right
      flex-grow: 2
    .desc
      width: calc(100% - 80px)
  &-prices
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 35px
  &-price
    line-height: 1
    .desc
      color: rgba($text, .5)
      font-weight: 700
      margin-bottom: 12px
    .val
      font-size: 24px
      font-weight: 900
      color: $accent
    &:first-child
      border-right: 1px solid #afb9c9
      width: 42%
      padding-right: 10px
    &:last-child
      padding-left: 10px

.category-desc
  color: rgba($text, .7)
  line-height: 1.7