.s-form-block
  display: flex
  .section-form
    width: 510px
    background-color: #fff

.form-img-wrap
  +bg-cover
  width: calc(100% - 510px)


.clouds-wrap
  position: relative
  z-index: 3
  form
    padding: 40px 70px 60px
  .s-form
    position: relative
    top: -105px
    box-shadow: 0 0 20px rgba(#000, .1)