@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 14px
  letter-spacing: 0.025em
  min-width: 320px
  position: relative
  line-height: 1.4
  font-family: $default-font
  overflow-x: hidden
  color: $text
  background-color: #f7f7f7
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.content
  margin-left: 295px
  width: calc(100% - 295px)

.btn
  display: inline-block
  cursor: pointer
  line-height: 1
  white-space: nowrap
  +mt(.3s)
  box-shadow: none
  padding: 13px 18px 13px 26px

.btn-red
  background-color: $accent
  color: #fff
  border: none
  &:hover
    color: #fff
    background-color: darken($accent, 5%)
    .btn-line
      &:after, &:before
        width: 10px
        right: 0
      &:before
        top: 4px
      &:after
        top: -4px
  &:active, &:focus
    color: #fff
    background-color: $accent
  &.disabled
    filter: grayscale(.7)
    pointer-events: none

.btn-line
  width: 65px
  height: 1px
  background-color: #fff
  position: relative
  display: inline-block
  margin-left: 9px
  top: -2px
  &:after, &:before
    content: ''
    position: absolute
    width: 0
    height: 1px
    background-color: #fff
    right: 0
    +mt(.3s)
  &:after
    transform: rotate(45deg)
    top: 0
    right: -1px
  &:before
    transform: rotate(-45deg)
    top: 0
    right: -1px


.owl-carousel
  position: relative
  .owl-nav
    position: absolute
    width: 100%
    left: 0
    top: calc(50% - 23px)
    button.owl-prev, button.owl-next
      width: 46px
      height: 46px
      +mt(.3s)
      cursor: pointer
      background-image: url('../img/icons/arrow-mnu-white.svg')
      background-size: 8px 14px
      background-position: center center
      background-repeat: no-repeat
      position: absolute
    button.owl-prev
      transform: rotate(180deg)
      border: 1px solid #86888f
      &:hover
        background-color: #86888f
    button.owl-next
      background-color: $accent
      &:hover
        background-color: darken($accent, 5%)

.section-title
  font-size: 40px
  line-height: 1
  font-weight: 800
  text-transform: uppercase

.clouds-wrap
  position: relative
  background-image: url('../img/bg-clouds.jpg')
  +bg-cover


form
  h3
    font-size: 30px
    font-weight: 700
    line-height: 1
    text-transform: uppercase
    margin-bottom: 22px
  p
    margin-bottom: 30px
  label
    display: block
    margin-bottom: 20px
    span
      font-size: 18px
      font-weight: 700
      line-height: 1
      margin-bottom: 12px
      display: inline-block
  input
    width: 100%
    line-height: 1
    padding: 15px 24px
    border: 1px solid $text
    &::placeholder
      color: rgba($text, .5)
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .form-labels-wrap
    margin-bottom: 45px
  .help-block
    display: none!important

.label-checkbox
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 22px
  cursor: pointer
  span
    width: calc(100% - 40px)
    font-size: 12px
    font-weight: normal
    margin-bottom: 0


.jq-checkbox
  width: 20px
  height: 20px
  border-radius: 0
  border: 1px solid $text!important
  background: transparent

.jq-checkbox.checked .jq-checkbox__div
  width: 13px
  height: 7px
